<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="KoreForge.AppLifecycle" value="../KoreForge.AppLifecycle/artifacts" />
    <add key="KF.Kafka" value="../KoreForge.Kafka/artifacts" />
    <add key="KoreForge.Logging" value="../KoreForge.Logging/artifacts" />
    <add key="KoreForge.Logging.Serilog" value="../KoreForge.Logging.Serilog/artifacts" />
    <add key="KoreForge.Metrics" value="../KoreForge.Metrics/artifacts" />
    <add key="KoreForge.Metrics.AspNet" value="../KoreForge.Metrics.AspNet/artifacts" />
    <add key="KoreForge.Time" value="../KoreForge.Time/artifacts" />
    <add key="KoreForge.Web" value="../KoreForge.Web/artifacts" />
  </packageSources>
</configuration>
